main
    margin-top: 8rem
    font-family: 'Inter'
    .informations
        display: flex
        flex-direction: column
        align-items: center
        .myImage
            margin-bottom: 1rem
            img
                width: 250px

        .apresentation
            display: flex
            flex-direction: column
            align-items: center

            margin-bottom: 1rem

            color: #303030
            font-weight: bold
            p
                margin-bottom: 0.25rem

        .infoButtons
            display: flex
            flex-direction: column
            margin-bottom: 6rem
            .buttons
                background-color: #6741c0
                color: #dbdbdb
                font-weight: 500
                border: none

                padding: 0.5rem
                width: 6rem
                border-radius: 1rem
                margin-bottom: 0.5rem
            &:active
                color: #5c31c0
                border-radius: 1rem

            